.app-breadcrumb[data-v-75ed7972] {
  margin-bottom: 20px;
  background-color: #f2f6fc;
  line-height: 40px;
  padding-left: 20px;
}

.breadcrumb-loc[data-v-75ed7972] {
  float: left;
  color: #409eff;
}.abstract__card-wrapper[data-v-cef74574] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.abstract__card-wrapper[data-v-cef74574] img {
  width: 100%;
  height: 150px;
}

.abstract__card-img[data-v-cef74574] {
  height: 150px;
}

.abstract__card-text[data-v-cef74574] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.abstract__card-text[data-v-cef74574] a {
  color: #20a0ff;
}.login-container {
  position: fixed;
  height: 100%;
  width: 100%;
}

.login-container .login {
  margin: 150px auto 0 auto;
  min-height: 420px;
  max-width: 420px;
  padding: 40px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: rgba(45, 58, 75, 0.7);
}

.login-container .title {
  position: relative;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.login-container .title span {
  width: 85%;
  display: inline-block;
  position: absolute;
  background: #303133;
  left: -48px;
  padding: 12px 50px 12px 48px;
  top: 20px;
  border-radius: 0 5px 5px 5px;
}

.login-container .title span:before,
.login-container .title span:after {
  content: "";
  position: absolute;
}

.login-container .title span:before {
  height: 0;
  width: 0;
  border-bottom: 8px solid black;
  border-left: 8px solid transparent;
  top: -8px;
  left: 0;
}

.login-container .login-form {
  margin-top: 100px;
}

.login-container .login-form .el-input {
  display: inline-block;
  height: 40px;
  width: 85%;
}

.login-container .login-form .el-input input {
  background: transparent;
  border: 0px;
  -webkit-appearance: none;
  border-radius: 0px;
  padding: 12px 5px 12px 0;
  color: #ffffff;
  height: 47px;
}

.login-container .login-form .el-input input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #5D5549 inset !important;
  box-shadow: 0 0 0px 1000px #5D5549 inset !important;
  -webkit-text-fill-color: #fff !important;
}

.login-container .login-form input::-webkit-input-placeholder {
  color: #ffffff;
}

.login-container .login-form input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #ffffff;
}

.login-container .login-form input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #ffffff;
}

.login-container .login-form input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #ffffff;
}

.login-container .login-form .el-form-item {
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  color: #454545;
}

.login-container .login-form .svg-container {
  padding: 6px 5px 6px 15px;
  color: #ffffff;
  vertical-align: middle;
  width: 30px;
  display: inline-block;
}

.login-container .login-form .svg-container i::before {
  font-size: 18px;
}.wscn-http404[data-v-0ae3dc23] {
  position: relative;
  width: 1200px;
  margin: 20px auto 60px;
  padding: 0 100px;
  overflow: hidden;
}

.wscn-http404[data-v-0ae3dc23] .pic-404 {
  position: relative;
  float: left;
  width: 600px;
  padding: 150px 0;
  overflow: hidden;
}

.wscn-http404[data-v-0ae3dc23] .pic-404__parent {
  width: 100%;
}

.wscn-http404[data-v-0ae3dc23] .pic-404__child {
  position: absolute;
}

.wscn-http404[data-v-0ae3dc23] .pic-404__child.left {
  width: 80px;
  top: 17px;
  left: 220px;
  opacity: 0;
  -webkit-animation-name: cloudLeft;
          animation-name: cloudLeft;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.wscn-http404[data-v-0ae3dc23] .pic-404__child.mid {
  width: 46px;
  top: 10px;
  left: 420px;
  opacity: 0;
  -webkit-animation-name: cloudMid;
          animation-name: cloudMid;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.wscn-http404[data-v-0ae3dc23] .pic-404__child.right {
  width: 62px;
  top: 100px;
  left: 500px;
  opacity: 0;
  -webkit-animation-name: cloudRight;
          animation-name: cloudRight;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes cloudLeft {
  0% {
    top: 17px;
    left: 220px;
    opacity: 0;
  }

  20% {
    top: 33px;
    left: 188px;
    opacity: 1;
  }

  80% {
    top: 81px;
    left: 92px;
    opacity: 1;
  }

  100% {
    top: 97px;
    left: 60px;
    opacity: 0;
  }
}

@keyframes cloudLeft {
  0% {
    top: 17px;
    left: 220px;
    opacity: 0;
  }

  20% {
    top: 33px;
    left: 188px;
    opacity: 1;
  }

  80% {
    top: 81px;
    left: 92px;
    opacity: 1;
  }

  100% {
    top: 97px;
    left: 60px;
    opacity: 0;
  }
}

@-webkit-keyframes cloudMid {
  0% {
    top: 10px;
    left: 420px;
    opacity: 0;
  }

  20% {
    top: 40px;
    left: 360px;
    opacity: 1;
  }

  70% {
    top: 130px;
    left: 180px;
    opacity: 1;
  }

  100% {
    top: 160px;
    left: 120px;
    opacity: 0;
  }
}

@keyframes cloudMid {
  0% {
    top: 10px;
    left: 420px;
    opacity: 0;
  }

  20% {
    top: 40px;
    left: 360px;
    opacity: 1;
  }

  70% {
    top: 130px;
    left: 180px;
    opacity: 1;
  }

  100% {
    top: 160px;
    left: 120px;
    opacity: 0;
  }
}

@-webkit-keyframes cloudRight {
  0% {
    top: 100px;
    left: 500px;
    opacity: 0;
  }

  20% {
    top: 120px;
    left: 460px;
    opacity: 1;
  }

  80% {
    top: 180px;
    left: 340px;
    opacity: 1;
  }

  100% {
    top: 200px;
    left: 300px;
    opacity: 0;
  }
}

@keyframes cloudRight {
  0% {
    top: 100px;
    left: 500px;
    opacity: 0;
  }

  20% {
    top: 120px;
    left: 460px;
    opacity: 1;
  }

  80% {
    top: 180px;
    left: 340px;
    opacity: 1;
  }

  100% {
    top: 200px;
    left: 300px;
    opacity: 0;
  }
}

.wscn-http404[data-v-0ae3dc23] .bullshit {
  position: relative;
  float: left;
  width: 300px;
  padding: 150px 0;
  overflow: hidden;
}

.wscn-http404[data-v-0ae3dc23] .bullshit__oops {
  font-size: 32px;
  font-weight: bold;
  line-height: 40px;
  color: #1482f0;
  opacity: 0;
  margin-bottom: 20px;
  -webkit-animation-name: slideUp;
          animation-name: slideUp;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.wscn-http404[data-v-0ae3dc23] .bullshit__headline {
  font-size: 20px;
  line-height: 24px;
  color: #1482f0;
  opacity: 0;
  margin-bottom: 10px;
  -webkit-animation-name: slideUp;
          animation-name: slideUp;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.wscn-http404[data-v-0ae3dc23] .bullshit__info {
  font-size: 13px;
  line-height: 21px;
  color: grey;
  opacity: 0;
  margin-bottom: 30px;
  -webkit-animation-name: slideUp;
          animation-name: slideUp;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.wscn-http404[data-v-0ae3dc23] .bullshit__return-home {
  display: block;
  float: left;
  width: 110px;
  height: 36px;
  background: #1482f0;
  border-radius: 100px;
  text-align: center;
  color: #ffffff;
  opacity: 0;
  font-size: 14px;
  line-height: 36px;
  cursor: pointer;
  -webkit-animation-name: slideUp;
          animation-name: slideUp;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(60px);
            transform: translateY(60px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    -webkit-transform: translateY(60px);
            transform: translateY(60px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}.el-table[data-v-5a6ef1c6] {
  width: 100%;
  margin-bottom: 30px;
}

.message-content[data-v-5a6ef1c6] {
  cursor: pointer;
}

.unread-box .message-content[data-v-5a6ef1c6] {
  color: #333;
  font-weight: bold;
}

.news-list-footer[data-v-5a6ef1c6] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}.expand-list-box .el-table__expanded-cell {
  padding: 0 0 0 47px;
}

.expand-list-box .el-table__expanded-cell .el-table__body-wrapper {
  border-left: 1px solid #e4e7ed;
}

.expand-list-box .el-table__expanded-cell .el-table--border::after,
.expand-list-box .el-table__expanded-cell .el-table--group::after,
.expand-list-box .el-table__expanded-cell .el-table::before {
  background-color: #ffffff;
}.form-box .el-form[data-v-30ca431c] {
  max-width: 100%;
}

.el-checkbox-group[data-v-30ca431c] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.el-checkbox[data-v-30ca431c] {
  margin-left: 0;
  margin-right: 30px;
}.app-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 48px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #324157;
  color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 10px;
}

.app-header_logo {
  font-size: 2.4rem;
}

.app-header_logo .app-header_toggle_icon {
  -webkit-transition: 0.3s linear all;
  -o-transition: 0.3s linear all;
  transition: 0.3s linear all;
}

.app-header_logo .app-header_toggle_icon:hover {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.app-header_logo .app-header__system_name {
  font-size: 1.8rem;
}

.app-header_user_info i {
  color: #ffffff;
  font-size: 2rem;
  font-weight: bold;
}

.app-header_user_info i:before {
  color: #ffffff;
  font-size: 2rem;
}

.app-header_user_info i:hover::before {
  color: #e6a23c;
  cursor: pointer;
}

.app-header_welcome_info {
  font-size: 2rem;
}

.app-sidebar {
  position: fixed;
  top: 48px;
  left: 0;
  height: 100%;
  z-index: 99;
  background-color: #34445c;
}

.app-sidebar .el-menu {
  border-right: 0;
}

.app-sidebar .el-menu-item.is-active {
  background: #2a364a !important;
}

.app-sidebar .el-submenu .el-menu-item {
  padding-left: 54px !important;
}

.app-sidebar .el-submenu.is-active i:first-child {
  color: #ffffff;
}

.app-sidebar .app-sidebar-collapse .el-submenu.is-active i:first-child {
  color: #409eff;
}

.app-main {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 98;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 70px;
  padding-right: 20px;
}

.app-main .abstract {
  height: 100%;
}

.app-main .app-page-body {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.app-main .app-page-body .content-container {
  overflow: auto;
}